<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/postnew.css}">
</head>
<body>
  <form action="/post/new" method="post" enctype="multipart/form-data">
    <label for="title">제목 : </label>
    <input type="text" id="title" name="title">
    <input type="file" id="attachFile" name="attachFile">
    <label for="content">본문 : </label>
    <textarea id="content" name="content"></textarea>
    <button type="submit">글쓰기</button>
  </form>
</body>
</html>