<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">
    <script src="/js/post.js" defer></script>
</head>
<body>
    <a href="/posts">go to posts page</a>
    <div id="post"></div>
    <div id="update_and_delete"></div>
    <form id="commentForm">
        <input type="text" id="content" name="content" placeholder="댓글 추가...">
        <button type="submit">추가</button>
    </form>
    <div id="comments"></div>
</body>
</html>