<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/profile.js" defer></script>
</head>
<body>
<div class="vertical-group">
    <h1>Index</h1>
    <div id="profile"></div>
    <form action="/logout" method="post">
        <button type="submit">로그아웃</button>
    </form>
    <form action="/delete" method="post">
        <button type="submit">계정 삭제</button>
    </form>
    <a href="/edit">go to edit page</a>
    <a href="/posts">go to posts page</a>


</div>
</body>
</html>